{%  extends 'template.html.twig' %}
{%  block title %}
    {{ title }}
{% endblock %}
{%  block pageTitle %}
{{ pageTitle }}
{%  endblock %}


{% block body %}
    <!-- pour les infos -->
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{message}}
        </div>
    {% endfor %}


    <!-- pour les succes -->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" >
            {{message}}
        </div>
    {% endfor %}


    <!-- pour les danger -->
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{message}}
        </div>

    {% endfor %}
    <div>
        <ol class="list-group">
            {% for name,content in app.session.get("todos") %}
                <li class="list-group-item">{{ name }} : {{ content }}</li>
            {% endfor %}
        </ol>
    </div>
{%  endblock %}